$color-text: #474646;
$color-primary: #108ee9;
$color-background: #f6f7f9;
$color-background-darker: #f1f1f1;
$color-blue: #3484e3;
$color-white: #fff;
$color-mix-dark: rgb(112, 125, 148);
$color-black: #000;
$color-green: rgb(40, 167, 69);
$color-green-light: #4eb76e;
$color-orange: #f50;
$color-green-bulma: #00d1b2;
$color-red-bulma: #ff3860;
$color-primary-light: #49a9ee;

// Start Ant colors
$color-red-1: #fef0ef;
$color-red-2: #fcdbd9;
$color-red-3: #fabeb9;
$color-red-4: #f79992;
$color-red-5: #f46e65;
$color-red-6: #f04134;
$color-red-7: #d73435;
$color-red-8: #bd2636;
$color-red-9: #a31837;
$color-red-10: #880a38;
$color-green-1: #ebf8f2;
$color-green-2: #cfefdf;
$color-green-3: #a7e1c4;
$color-green-4: #76d0a3;
$color-green-5: #3dbd7d;
$color-green-6: #00a854;
$color-green-7: #00924c;
$color-green-8: #007b43;
$color-green-9: #00643b;
$color-green-10: #004c32;
$color-blue-1: #ecf6fd;
$color-blue-2: #d2eafb;
$color-blue-3: #add8f7;
$color-blue-4: #7ec2f3;
$color-blue-5: #49a9ee;
$color-blue-6: #108ee9;
$color-blue-7: #0e77ca;
$color-blue-8: #0c60aa;
$color-blue-9: #09488a;
$color-blue-10: #073069;
$color-pink-1: #feeff5;
$color-pink-2: #fdd8e7;
$color-pink-3: #fcb8d3;
$color-pink-4: #fa90ba;
$color-pink-5: #f7629e;
$color-pink-6: #f5317f;
$color-pink-7: #dc277d;
$color-pink-8: #c11c7b;
$color-pink-9: #a71278;
$color-pink-10: #8c0776;
$color-orange-1: #fef3eb;
$color-orange-2: #fde3cf;
$color-orange-3: #fccca7;
$color-orange-4: #faaf76;
$color-orange-5: #f78e3d;
$color-orange-6: #f56a00;
$color-orange-7: #d75000;
$color-orange-8: #b93600;
$color-orange-9: #991b00;
$color-orange-10: #7a0000;
$color-purple-1: #f4f3fd;
$color-purple-2: #080708;
$color-purple-3: #cfcaf6;
$color-purple-4: #b3acf2;
$color-purple-5: #948aec;
$color-purple-6: #7265e6;
$color-purple-7: #6252cd;
$color-purple-8: #533eb4;
$color-purple-9: #42299a;
$color-purple-10: #321580;
$color-yellow-1: #fffaeb;
$color-yellow-2: #fff3cf;
$color-yellow-3: #ffe9a7;
$color-yellow-4: #ffdd76;
$color-yellow-5: #ffce3d;
$color-yellow-6: #ffbf00;
$color-yellow-7: #e09a00;
$color-yellow-8: #c17500;
$color-yellow-9: #a04f00;
$color-yellow-10: #802800;
$color-cyan-1: #ebf8f9;
$color-cyan-2: #cfedf0;
$color-cyan-3: #a7dfe3;
$color-cyan-4: #76cdd3;
$color-cyan-5: #3db8c1;
$color-cyan-6: #00a2ae;
$color-cyan-7: #008997;
$color-cyan-8: #00707f;
$color-cyan-9: #005667;
$color-cyan-10: #003c4e;
$color-grey-1: #fbfbfb;
$color-grey-2: #f7f7f7;
$color-grey-3: #f5f5f5;
$color-grey-4: #e9e9e9;
$color-grey-5: #d9d9d9;
$color-grey-6: #bfbfbf;
$color-grey-7: #919191;
$color-grey-8: #5a5a5a;
$color-grey-9: #404040;
$color-grey-10: #222222;
$color-text: rgba(0,0,0,.65);
$color-opaque: #919596;

// End Ant colors

$minimalist-black: #5A5050;
$minimalist-primary: #3EACA8;
$minimalist-light: #A2D4AB;
$minimalist-dark: #547A82;
$minimalist-bright: #E5EEC1;

$palete-ruby: #AE203B;
$palete-red: #C62B41;
$palete-dark: #303246;
$palete-pink: #E28790;
$palete-grey: #9A9BA5;
$palete-light-grey: #D4D0D5;

$flat-asbestos-1: #F2F4F4;
$flat-asbestos-2: #E5E8E8;
$flat-asbestos-3: #CCD1D1;
$flat-asbestos-4: #B2BABB;
$flat-asbestos-5: #99A3A4;
$flat-asbestos-6: #7F8C8D;
$flat-asbestos-7: #707B7C;
$flat-asbestos-8: #616A6B;
$flat-asbestos-9: #515A5A;
$flat-asbestos-10: #424949;

$flat-greensea-1: #E8F6F3;
$flat-greensea-2: #D0ECE7;
$flat-greensea-3: #A2D9CE;
$flat-greensea-4: #73C6B6;
$flat-greensea-5: #45B39D;
$flat-greensea-6: #16A085;
$flat-greensea-7: #138D75;
$flat-greensea-8: #117A65;
$flat-greensea-9: #0E6655;
$flat-greensea-10: #0B5345;

$flat-alizarin-1: #FDEDEC;
$flat-alizarin-2: #FADBD8;
$flat-alizarin-3: #F5B7B1;
$flat-alizarin-4: #F1948A;
$flat-alizarin-5: #EC7063;
$flat-alizarin-6: #E74C3C;
$flat-alizarin-7: #CB4335;
$flat-alizarin-8: #B03A2E;
$flat-alizarin-9: #943126;
$flat-alizarin-10: #78281F;

$flat-midnightblue-1: #EAECEE;
$flat-midnightblue-2: #D5D8DC;
$flat-midnightblue-3: #ABB2B9;
$flat-midnightblue-4: #808B96;
$flat-midnightblue-5: #566573;
$flat-midnightblue-6: #2C3E50;
$flat-midnightblue-7: #273746;
$flat-midnightblue-8: #212F3D;
$flat-midnightblue-9: #1C2833;
$flat-midnightblue-10: #17202A;

$flat-turquoise-1: #E8F8F5;
$flat-turquoise-2: #D1F2EB;
$flat-turquoise-3: #A3E4D7;
$flat-turquoise-4: #76D7C4;
$flat-turquoise-5: #48C9B0;
$flat-turquoise-6: #1ABC9C;
$flat-turquoise-7: #17A589;
$flat-turquoise-8: #148F77;
$flat-turquoise-9: #117864;
$flat-turquoise-10: #0E6251;