@import 'static/sass/utilities.scss';

.layout {
  background-color: $color-white;

  .ant-layout-header {
    background-color: $flat-turquoise-5;

    .logo {
      font-size: 20px;
      font-weight: 700;
      color: $color-white
    }

    .account {
      float: right;
      color: $color-white;
      font-size: 14px;
      font-weight: 600;

      span {
        color: $flat-alizarin-7;
      }
    }

    .account-login, .account-signup {
      color: $color-white;
      font-size: 14px;
      font-weight: 600;
      padding: 10px;

      &:hover {
        color: $flat-alizarin-4;
        cursor: pointer;
      }
    }

  }
}
.vertical-center-modal {
  .login-form {
    max-width: 350px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}